<!-- Footer -->
<footer class="text-center text-lg-start bg-secondary text-white mt-5">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
        <%= link_to ('<i class="fab fa-github"></i>').html_safe, "https://github.com/nickolasfarias/MY_GROCERIES", class: "me-4 text-reset"%>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>mygroceries enterprises
          </h6>
          <p>
          Always showing you the best options.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contact
          </h6>
          <p><i class="fas fa-home me-3"></i> Rio de Janeiro, Ipanema, BR</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            mygroceries@contact.com
          </p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    <div class="avatar-perfil d-flex justify-content-center align-items-center" style="position: relative">
       © My groceries was made by Nickolas Farias, Pedro Bueno, Pedro Aguiar and Alfredo Pontes
       <div style="position:absolute;">
        <a href="https://www.linkedin.com/in/nickolas-farias-1bb4b1235"><img src="https://avatars.githubusercontent.com/u/85416366?v=4" style="position:absolute; left:630px; bottom: -25px;"></a>
        <a href="https://www.linkedin.com/in/pedro-bueno-1458926b"><img src="https://avatars.githubusercontent.com/u/101818151?s=40&v=4" style="position:absolute; left:685px; bottom: -25px;"></a>
        <a href=""><img src="https://avatars.githubusercontent.com/u/100985363?v=4" style="position:absolute; left:740px; bottom: -25px;"></a>
        <a href=""><img src="https://avatars.githubusercontent.com/u/103248293?v=4" style="position:absolute; left:795px; bottom: -25px;"></a>
       </div>
    </div>
  </div>


  <!-- Copyright -->
</footer>
<!-- Footer -->
