<div>
  <div class="banner d-flex justify-content-center align-items-center mt-3 mx-auto">
    <%= image_tag "market-logo.png", class: "banner-img" %>
      <h1 class="mb-0"><strong>My groceries</strong></h1>
  </div>


</div>
