<div class="banner d-flex align-items-end" style="background-image: url('<%= image_path "bannerall.png" %>'); margin-left:0; margin-top:0;">
  <div class="container">
    <div class="d-flex">
      <%= link_to "Login", new_user_session_path, class: "m-5 px-5 py-2 banner-btn" %>
      <%= link_to "Register", new_user_registration_path, class: "m-5 px-5 py-2 banner-btn"  %>
    </div>
  </div>
</div>
