<div>
  <div class="bannerl">
    <div class="bannerhome" style="background-image: url(<%= asset_path("LandingPage") %>);">
      <%= image_tag "", style:"width: 100%;" %>
      <%= link_to "login", "#", class:"bannerbtn" %>
    </div>
  </div>
</div>
