.banner-img {
  width: 50px;
  margin-right: 10px;
}

.banner-index {
  background-size: cover;
  background-position: center;
  padding: 193px 0;
  margin-top: -20px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.banner-index h1 {
  margin-top: 65px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
  font-weight: bold;
}
