.card-product-cart {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.card-product-cart img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product-cart h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product-cart p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.link-cart-text a{
  color: black;
}

.link-cart-text {
  display: inline;
}

.card-product-cart-info {
  flex: 1 0 auto;
}

.card-product-cart-info li{
  list-style: none;
}

.link-sub-text a{
  color: white;
  font-size: 20px;
}

.title-sub {
  color: black;
  font-size: 30px;
}

.sub-total {
  height: 100px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  border-radius: 8px;
  padding: 15px;
  width: 300px;
}

.empty-cart {
  background-color: #4C3575;
  width: 150px;
  border-radius: 4px;
  padding-left: 20px;
  margin-left: 60px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.empty-cart:hover {
  border-style: solid;
  border-width: 1px;
  border-color: #4C3575;
  background-color: white;
}

.link-sub-text a:hover{
  color: #4C3575;
  font-size: 20px;
}

.card-trip-pricing {
  font-size: 25px;
}
