.card-product {
  overflow: hidden;
  height: 46vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  border-radius: 15px;
  position: relative;
}

.card-product-img {
  height: 100%;
  width: 49%;
  object-fit: contain;
  padding: 48px;
}

.card-product h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  color: black;
}

.card-product p {
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
  color: black;
}

.card-product .card-product-infos {
  padding: 41px;
  text-align: center;
  width: 57%;
  background-color: lightgray;
}

.product-name {
  color:black;
  border-radius: 5px;
  padding: 40px;
}

.best-offer {
  color: black;
  border-radius: 5px;
  padding: 15px;
}

.product-info {
  color: black;
  padding: 30px;
}

.add-to-cart {
  background-color: white;
  color: #4C3575;
  padding: 5px;
  border-radius:12px;
  margin-top: 10px;
  border: none;
  font-weight: bolder;
}

.add-to-cart:hover {
  background-color: #7858A6;
  color: white;
}


.product-sugestions {
  height: 60vh;
  width: 45vw;
  margin-top: 15px;
  margin-right: 10px;
  border-radius: 15px;
  overflow-y: auto;
  padding-top: 5px;
}

.map-div {
  background-color: white;
  height: 60vh;
  width: 45vw;
  margin-top: 15px;
  border-radius: 15px;
}

.similar {
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: auto;
  height:120px;
  width: 96%;
}

.market-logo {
  height:100px;
  width: 100px;
  border-radius:15px;
}

.margin-price {
  margin-right: 25px;
  font-size: 23px;
}


.x:hover {
  border: black 3px solid;
}

.img-product-cart {
  height:100%;
  width: 10%;
  border-radius:8px;
}

.img-mkt-logo-cart {
  position: relative;
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
