.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 380px;
}

.card-trip > img {
  height: 180px;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 17px;
  font-weight: bold;
  padding: 8px;
}

.card-trip p {
  font-size: 17px;
  opacity: 0.7;
  margin: 0;
  color: #474747;
  text-align: center;
}


.card-trip .card-trip-infos {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 6px;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: 0px;
  width: 50px;
}


.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 19px;
  row-gap: 24px;
}

.card-img {
  width: 100%;
  padding: 10px;
  height: 215px;
  object-fit: contain;
}


.div-info {
  height: 80px;
}

.description {
  height: 100px;
}

.background-purple {
  border-radius:15px;
  text-align: center;
  background-color: #4C3575;
  color: white;
}

.background-purple-bottom {
  background-color: #7858A6;
  color: white;
  border-radius:25px;
  text-align: center;
}

.container-index {
  max-width: 1470px;
}

.index-price {
  background-color: #4C3575;
  color: white;
  width: 100%;
  text-align: center;
}

.index-name-height {
  height: 95px;
  width: 100%;
}
