.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 540px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: contain;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  grid-gap: 6px;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: 0px;
  width: 50px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card-img {
  width: 100%;
  padding: 10px;
  height: 250px;
}


.div-info {
  height: 150px;
}

.description {
  height: 80px;
}

.background-purple {
  padding: 15px;
  background-color: #4C3575;
  border-radius:15px;
  text-align: center;
}

.background-purple-bottom {
  padding: 7px;
  background-color: #4C3575;
  border-radius:15px;
  text-align: center;
}
