.all {
  margin-top: 50px;
  margin-left: 40%;
}

h2 {
  color: white;
  margin-left: 10%;
}

.form-login {
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
    color: #4C3575 !important;
  }
  .btn {
    width: 100% !important;
    margin-bottom: 20px !important;
    color: #4C3575 !important;
  }
}

.remember {
  margin-left: 28%;
}

.banner {
  margin-left: 29%;
  margin-top: 50px;
}

.login-btn:hover {
  background-color: #4C3575;
  color:white;
}
