.all {
  margin-top: 50px;
  margin-left: 40%;
}

h2 {
  color: white;
  margin-left: 10%;
}

.form-inputs {
  width: 30%;
  color: white;
  border-color: none;
}

.form-actions {
  color: white;
  background-color: white;
  width: 9%;
  margin-left: 10%;
  border-radius: 25px;
  border-color: none;
}
