

.bannerhome {
  display: flex;
  flex-direction: column;
  height: 1460px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bannerbtn {
  background-color: white;
  /* position: relative; */
  /* top: 589px; */
  /* left: 193px; */
  padding: 12px 72px;
  border-radius: 20px;
  margin-top: 550px;
  margin-left: 193px;
  width: 192px;
  text-align: center;
}
