.form-inputs {
  width: 20%;
  margin-left: 40%;
  margin-top: 50px;
  margin-bottom: 60px;
}

.form-action {
  color: white;
  background-color: white;
  width: 4%;
  border-radius: 25px;
  border-color: none;
}

#special {
  margin-left: 41%;
  width: 60%;
  border-color: white;
}

.banner {
  margin-left: 34%;
  margin-top: 50px;
}
